body{
    background-color: lightgray;
}
textarea{
    width: 93%;
    height: 70px;
    border-radius: 5px;
    resize: none;
    float: left;
    position: absolute;
    bottom: 0;
}
button{
    width: 85px;
    height: 70px;
    float: right;
    position: relative;
    top: 3px;
    background-color: #2ecc71;
    border-color:  #2abb67;
    color: white;
    border-radius: 2px;
    font-weight: bold;
    transition: 1s;
}
button:hover{
    background-color: #29b765;
    color: lightgray;
}
img{
    min-width: 20px;
    min-height: 20px;
    max-width: 400px;
    max-height: 400px;
}
p{
    padding: 0;
    margin-top: 0;
    margin-bottom: 1px;
    clear:both;
    float:left;
}
#msg_display{
    position: absolute;
    width: 98.9%;
    height: 80%;
    margin-left: 3px;
    border-radius: 5px;
    float: left;
    overflow-y: auto;
    word-break: break-all;
}
.messagebox{
    width: 99%;
    clear: both;
    position: fixed;
    top: 82%;
}
.bar{
    width: 98.5%;
    height: 25px;
    position: fixed;
    top: 95%;
    clear: both;
    background-color: #2ecc71;
    border-color: #2abb67;
    border-radius: 2px;
    border-radius: 2px;
    display: none;
}
.usn{
    position: absolute;
    height: 100%;
    top: 2px;
    text-align: center;
    font-size: 14px;
    padding-left: 5px;
}
#user:focus{
    border: 2px solid #00cc00;
}
#user{
    border-radius: 2px;
    border: 1px solid gray;
    margin-left: 10px;
}
#userplh{
    font-weight: bold;
    font-size: 13px;
}
